:root {
  --clr-: #e00a0a;
  --clr-: #cb1a27;
  --clr-: #c0392b;
  --clr-: #f44036;
  --clr-: #ff4b1f;
  --clr-: #eb5600;
  --clr-: #ff9800;
  --clr-: #f1cf02;
  --clr-: #f0f600;
  --clr-: #fed03e;
  --clr-: #f2994a;
  --clr-: #f07167;
  --clr-: #cd3167;
  --clr-: #e41e5d;
  --clr-: #e92452;
  --clr-: #f52862;
  --clr-: #f300f4;
  --clr-: #f8a4d8;
  --clr-: #fed9b7;
  --clr-: #fbc2eb;
  --clr-: #0f152e;
  --clr-: #051960;
  --clr-: #0e2fb2;
  --clr-: #2b63da;
  --clr-: #1787e0;
  --clr-: #2196f3;
  --clr-: #03a9f4;
  --clr-: #6c63ff;
  --clr-: #605dd9;
  --clr-: #3a6186;
  --clr-: #2c3e50;
  --clr-: #78a3e8;
  --clr-: #19c8fa;
  --clr-: #00afb9;
  --clr-: #12c2e9;
  --clr-: #00a8aa;
  --clr-: #009688;
  --clr-: #0081a7;
  --clr-: #48b1bf;
  --clr-: #74ebd5;
  --clr-: #1c0010;
  --clr-: #2b1a3d;
  --clr-: #25003e;
  --clr-: #3c21b7;
  --clr-: #4421b1;
  --clr-: #591da9;
  --clr-: #6500bc;
  --clr-: #8000d7;
  --clr-: #4c1a57;
  --clr-: #642b73;
  --clr-: #8e44ad;
  --clr-: #c471ed;
  --clr-: #bab0d4;
  --clr-: #acb6e5;
  --clr-: #bdc3c7;
  --clr-: #a2a2a2;
  --clr-: #2d2d2d;
  --clr-: #313131;
  --clr-: #020202;
  --clr-: #211c22;
  --clr-: #0d1117;
  --clr-: #131212;
  --clr-: #021212;
  --clr-: #212529;
  --clr-: #111215;
}
/* ColorModes */
.color-font {
  background: linear-gradient(to left, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}